// *************************************
//
//  Headings
//
// *************************************

h1,
h2,
h3 {
  margin: 0 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
  color: $white;
}

h2{
  font-size: rem-calc(37);
  text-align: center;
  font-family: $h2;
}
