// *************************************
//
// site-footer
//
// *************************************

.c-site-footer {
  text-align: center;
  margin-bottom: rem-calc(16);
  margin-top: rem-calc(40);
  @include breakpoint (medium up) {
    margin-bottom: rem-calc(24);
    margin-top: rem-calc(80);
  }
  font-weight: bold;
}
