// *************************************
//
//  Paragraphs
//
// *************************************

p {
  margin-bottom: 15px;
  color: $dark-grey;
  font-family: $body-font;
  font-size: rem-calc(14);
}
