<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Home Heating Oil Prices Domestic Heating Oil &amp; Commercial Fuel Suppliers Northern Ireland</title>
  <meta name="description" content="Emo Oil Ltd is a division of DCC Oil and ranks among Northern Ireland&#039;s leading home heating oil, commercial fuel, marine fuel and Agricultural diesel suppliers with offices Belfast and across Northern Ireland">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="noindex, nofollow">

  <link rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
</head>

<body>

  {% render '@site-header' %}

  <main id="content" role="main">
    {{ yield|safe }}
  </main>

  {% render '@site-footer' %}

  <script src="{{ '/vendor/tota11y-0.1.6.js' | path }}" defer></script>
  <script src="{{ '/js/manifest.js' | path }}" defer></script>
  <script src="{{ '/js/vendor.js' | path }}" defer></script>
  <script src="{{ '/js/main.js' | path }}" defer></script>
</body>

</html>
