<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ _target.label }} | Boilerplate Styleguide</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" CONTENT="noindex, nofollow">

    <link rel="stylesheet" href="{{ '/css/main.css' | path }}">
  </head>

  <body>

    {{ yield|safe }}

    <script src="{{ '/vendor/tota11y-0.1.6.js' | path }}" defer></script>
    <script src="{{ '/js/manifest.js' | path }}" defer></script>
    <script src="{{ '/js/vendor.js' | path }}" defer></script>
    <script src="{{ '/js/main.js' | path }}" defer></script>
  </body>
</html>
