// *************************************
//
//   Colours
//
// *************************************

$white: #fefefe;
$navy: #003974;
$dark-grey: #282828;
// Brand theming:
$emagine-orange: #d1552e;

// Elements

// Objects

// Components

// Site Header
// $site-header-bg: $emagine-orange;
