// *************************************
//
// Font Settings
//
// *************************************

// Global Font Path
$font-path: '~@/../../fonts/';

// Font Families

@font-face {
  font-family: 'Vag Rounded';
  src: url("#{$font-path}/VAGRoundedBT.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Base Font settings (p, h1 etc..)

$h1: 'Vag Rounded', serif;
$h2: 'Vag Rounded', serif;
$h3: 'Vag Rounded', serif;
$h4: 'Vag Rounded', serif;
$h5: 'Vag Rounded', serif;
$body-font: 'Arial', serif;

// Elements
// $menu-font: 'lato', serif;
$button-font: 'Vag Rounded', serif;
// Base Font settings (p, h1 etc..)

// Elements

// Objects

// Components
