// *************************************
//
//  Reset
//    -> Custom reset rules
//
// *************************************

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

abbr[title],
dfn[title] {
  cursor: help;
}

// Fixes for foundation XY Grid
.grid-container {
  width: 100%;
}

.grid-centered {
  justify-content: center;
}
