// ************************************* 
//
// hero 
//
// *************************************

// Example of css images
.c-hero {
	&.bg {
		width: 80%;
		min-height: 250px;

		margin: 3rem auto;

		background-color: #ececec;
		background-image: url("#{$image-asset-path}emagine-test-image.png");
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 115px;
	}
}