// *************************************
//
// single-page
//
// *************************************

.site-wrapper {
  width: 90%;
  margin: 0 auto;
  @include breakpoint (medium up) {
    width: 80%;
  }
}
