
<div class="site-wrapper">
  <div class="grid-container full">
      {% render '@site-header' %}
    <div class="grid-x margin-x padding-x small-up-1 medium-up-2">
      <div class="cell" >
      {% render '@card', {
      image: '/images/Emo-Home-Heat.jpg',
      title: 'Home Heat',
      buttonurl: 'https://www.emo.ie/home-heating-oil',
      button: 'place your order'
      } %}
      </div>
      <div class="cell">
      {% render '@card', {
      image: '/images/Emo-Poyntzpass-HQ.jpg',
      title: 'Emo Retail',
      buttonurl: 'https://www.emo.ie/retail/welcome',
      button: 'find out more'
      } %}
      </div>
    </div>
    {% render '@site-footer' %}
  </div>
</div>
