{% if url | length %}
  <a href="{{ url|default('#') }}" class="o-card url {{ class }}" {{ data }}>
{% else %}
    <div class="o-card {{ class }}" {{ data }}>
{% endif %}
{% if image %}
      <div class="o-card-image-container">
        <img class="o-card__image" src="{{ image|default ('/images/istockphoto-1072132768-2048x2048.jpg')  }}" role="presentation" alt="Placeholder">
{% endif %}
          <section class="o-card-content">
{% if title %}
        <h2 class="o-card__title">
          {{ title|default('Home Heat') }}
        </h2>
{% endif %}

{% if button %}
        <div class="o-card-button-container">
          {% render '@button', {
          class: 'expanded',
          text: button,
          url: buttonurl} %}
        </div>
{% endif %}
    </section>
      </div>
{% if url | length %}
    </a>
{% else %}
  </div>
{% endif %}
