// *************************************
//
//  card
//
// *************************************
// Base Styles

.o-card {
  display: block;
  position: relative;
  margin-left: rem-calc(16);
  margin-right: rem-calc(16);

  .o-card-image-container {
    position: relative;
    overflow: hidden;
    display: block;
    margin: rem-calc(24) auto;
    z-index: 4;
    border-radius: 10px;
    padding-top: rem-calc(250);
    @include breakpoint (medium up) {
      padding-top: (2 / 4) * 100%;
      margin: rem-calc(48) auto;
    }

    .o-card__image {
      filter: brightness(80%);
      @include absolutePosition(100%, 100%, 0, 0);
      @include object-fit;
      z-index: 0;
    }

    .o-card-content {
      position: relative;
      z-index: 5;
      min-height: rem-calc(180);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .o-card__title {
        position: relative;
        margin-top: rem-calc(48);
      }

      .o-card-button-container {
        width: 70%;
        margin: 0 auto rem-calc(8);
      }
    }
  }
}
// *************************************
//
// Variants
//
// *************************************

.o-card {}
