<header role="banner">

  <div class="c-header">


  <h1>
  <a href="https://www.emo.ie/">
    <img class="c-header-logo" src="{{ '/images/emologo.png' | path }}" alt="Emo Oil Home Heat & Retail" role="Site Logo"/>
    </a>
  </h1>
    </div>
</header>
