// *************************************
//
// site-header
//
// *************************************


.c-header {

  text-align: center;
  margin: rem-calc(24) auto rem-calc(48);

  @include breakpoint (medium up)  {
    margin: rem-calc(48) auto;
  }
}
