<h3>To define cell widths within a direction-level, instead of the individual cell level, add the class .[size]-up-[n] to a grid-x, where [n] is the number of cells to display per direction, and [size] is the breakpoint at which to apply the effect.</h3>

<p>Note that this example uses the padding grid, but the margin grid can also be used</p>

<div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-6">
  <div class="cell">cell</div>
  <div class="cell">cell</div>
  <div class="cell">cell</div>
  <div class="cell">cell</div>
  <div class="cell">cell</div>
  <div class="cell">cell</div>
</div>
