<h3>Offsets work by applying margin-left (or margin-top for a vertical grid) to a grid.</h3>

<div class="grid-x grid-margin-x">
  <div class="cell small-4 large-offset-2">Offset 2 on large</div>
  <div class="cell small-4">4 cells</div>
</div>
