<h3>The XY grid also supports vertical grids. Simply apply .grid-y instead of .grid-x. The internal cells will shift automatically to provide spacing vertically rather than horizontally.

You can also apply margin or padding with .grid-margin-y and .grid-padding-y to apply spacing to the top and bottom of cells.</h3>

<div class="grid-y" style="height: 500px;">
  <div class="cell small-6 medium-8 large-2">
    6/8/2
  </div>
  <div class="cell small-6 medium-4 large-10">
    6/4/10
  </div>
</div>
