<h3>To switch back to the auto behavior from a percentage or shrink behavior, use the classes .[size]-auto or .[size]-shrink. In the below example, the cells stack on small screens, and become even-width on large screens.</h3>

<div class="grid-x">
  <div class="cell large-auto">One</div>
  <div class="cell large-auto">Two</div>
  <div class="cell large-auto">Three</div>
  <div class="cell large-auto">Four</div>
  <div class="cell large-auto">Five</div>
  <div class="cell large-auto">Six</div>
</div>
