<h3>The .[size]-[gutter-type]-collapse class lets you remove cell gutters.

There are times when you won't want each media query to be collapsed. In this case, use the media query size you want and collapse and add that to your grid element. Example shows gutters at small and no gutters on medium and up.</h3>

<div class="grid-x grid-margin-x medium-margin-collapse">
  <div class="cell small-6">
    Gutters at small no gutters at medium.
  </div>
  <div class="cell small-6">
    Gutters at small no gutters at medium.
  </div>
</div>
