<h3>If the class .auto or .[size]-auto is added to the cell, it will take up the remaining space.</h3>

<div class="grid-x grid-margin-x">
  <div class="cell small-4">4 cells</div>
  <div class="cell auto">Whatever's left!</div>
</div>

<h3>Expanding cells share leftover space equally</h3>

<div class="grid-x grid-margin-x">
  <div class="cell small-4">4 cells</div>
  <div class="cell auto">Whatever's left!</div>
  <div class="cell auto">Whatever's left!</div>
</div>

<h3>A cell can also be made to shrink, by adding the .shrink or .[size]-shrink class. This means it will only take up the space its contents need.</h3>

<div class="grid-x grid-margin-x">
  <div class="cell shrink">Shrink!</div>
  <div class="cell auto">Expand!</div>
</div>
