// *************************************
//
// basic styles for xy-grid demos
//
// *************************************

.grid-x, .grid-y {
  // background: #d6ecfa;
  //
  // .cell {
  //   background: #1779ba;
  //   color: #fefefe;
  //
  //   @include odd {
  //     background: #7bc1ef;
  //     color: #0a0a0a;
  //   }
  // }
}
