<ul class="o-list-inline">
  <li class="o-list-inline__item">List item</li>
  <li class="o-list-inline__item">List item</li>
  <li class="o-list-inline__item">List item</li>
  <li class="o-list-inline__item">List item</li>
  <li class="o-list-inline__item">List item</li>
</ul>