<div class="o-media--flush">

  <div class="o-media__img">
    <img src="https://placehold.it/100x100" alt="placeholder">
  </div>

  <div class="o-media__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, molestias.</p>
  </div>

</div>
