<div class="o-media--reverse">

  <div class="o-media__img">
    <img src="https://placehold.it/100x100" alt="Image">
  </div>

  <div class="o-media__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, molestias.</p>
  </div>

</div>