{% if url|length %}
  <a role="button" href="{{ url|default('#') }}" class="e-button button expanded   {{ class|default('') }}" {{ data|safe }}>
{% else %}
  <button type="submit" class="e-button button expanded {{ class|default('') }}" {{ data|safe }}>
{% endif %}

  {% if icon and text %}
    <span class="e-button__text">
  {% endif %}
    {% if text %}
      {{ text }}
    {% endif %}
  {% if icon and text %}
    </span>
  {% endif %}

  {% if icon %}
    <span class="icon {{ icon }}"></span>
  {% endif %}

  {% if sr %}
    <span class="show-for-sr">{{ sr }}</span>
  {% endif %}

{% if url|length %}
  </a>
{% else %}
  </button>
{% endif %}
